




body {
    background: white;
}
input {
    font-size: 56px;
    display:inline-flexbox
}

.button {
    padding: 15px 32px;
    text-align:justify;
    display:inline-flexbox;
    font-size: 36px;
    }